* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    background-color: #1A0B2E;
    color: #FFFFFF;
    text-align: center;
}
/* Common Style id and class */
.headerLogo {
    font-size: 30px;
}
.logoText {
    background: linear-gradient(to bottom,rgba(137, 3, 246, 0.923),rgba(243, 199, 40, 0.997));
    color: transparent;
    background-clip: text;
}
.container {
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}
hr {
    background-color: #4D2B8C;
    height: 1px;
    border-radius: 5px;
    border: none;
}
.btn {
    
    margin: 10px 2px;
    display: inline-flex;
    gap: 10px;
    padding: 10px 20px;
    text-align: center;
}
.btn-primary {
    background: linear-gradient(to right top, rgba(241, 208, 88, 0.855), rgba(241, 44, 4, 0.997), rgb(137, 3, 246));
    border: none;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer; 
}
.btn-secondary {
    border: 1px solid #00FF88;
    background: none;
    color: #00FF88;
    border-radius: 20px;
    font-weight: 600;
    padding: 10px; 
    cursor: pointer;
}
.hide {
    display: none;
    color: red;
}
/* Header Navbar Style Code */
.headerContent {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding: 15px 0;
}
.headerContent nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.headerContent nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}



/* Banner Section Style Code */
.banner {
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-image {
    width: 650px;
    height: 658px;
    justify-content: center;
    align-items: center;
    margin: 0px auto 180px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.banner-circle {
    z-index: 10;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 15%;
    left: 19%;
    
    width: 400px;
    height: 400px;
    
}
.banner-microphone {
    z-index: 20;
    position: absolute;
    margin-top: 220px;
    margin-left: -70px;

}
.banner-newButton {
    z-index: 30;
    position: absolute;
    margin-top: 115px;
    margin-left: 70px;
    background: #00FF88;
    box-shadow: 1px 1px 4px 4px rgba(18, 210, 79, 0.451);
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 50px;
    color: #000000;
}
.banner-text {
    z-index: 5;
    position: absolute;
    margin-top: 380px;
}
.banner-text h1 {
    font-size: 60px;
    font-weight: 800;
    padding: 5px;
}
.banner-text p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    padding: 8px;
}
.bannerButtons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-button {
    margin: 10px 2px;
    display: inline-flex;
    gap: 10px;
    padding: 10px 20px;
}

/* About Section Style Code */
.about {
    justify-content: center;
    margin: 35px auto;
}
.about .aboutText {
    padding: 40px 10px;
}
.about .aboutText h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    
}
.about .aboutText p {
    line-height: 20px;
    padding-bottom: 20px;
}

.aboutHr {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    height: 1px;
}   
.about .aboutCard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.card {
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.card h2 {
    color: #00FF88;
    font-size: 35px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.my-plus {
    font-size: 25px;
}


/* Choose TechWave Section style code */
.chooseTechWave {
    background-color: #230E3D;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}
.chooseTechWaveContent {
    margin: 20px;
}
.chooseTechWaveContent h1 {
    margin-top: 30px;
    padding: 10px;
    font-size: 48px;
    font-weight: bold;
}
.chooseCardContent {
    padding: 5px;
    display: grid;
    grid-template-areas: 
        'Headphone Mobile Mobile'
        'Headphone Location Location'
        'Interview Interview ResourceBook'
    ;
    gap: 15px;
    
    
}
.headPhone {
    grid-area: Headphone;
}
.headPhoneContent {
    align-items: start;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}
.mobileDevice {
    grid-area: Mobile;
}
.location {
    grid-area: Location;
}
.interview {
    grid-area: Interview;
}
.resourceBook {
    grid-area: ResourceBook;
}
.chooseCard {
    padding: 15px;
    text-align: justify;
    background-color: #351165;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.chooseCard h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 8px 0;
}
.chooseCard p {
    line-height: 24px;
}

/* Feature Episodes and Host Speaker */
.featureMeet {
    margin: 50px auto;
}
/* .episode {
    
    
} */
.episode h1, .speaker h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px auto;
}
.featureCard {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
    padding: 20px;
    
}
.episodeCard {
    width: 360px;
    background-color: #250D44;
    border-radius: 20px;
}
.episodeText {
    text-align: start;
    margin-left: 20px;

}
.episodeText h4 {
    display: inline-flex;
    gap: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 18px;
    align-items: center;
    text-align: center;
}
.episodeCard h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: #FFFFFF;
}
.episodeCard p {
    line-height: 24px;
    padding: 10px;
    color: #FFFFFF;
}



.hostSpeaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto 30px;
    padding: 20px;
}
.hostImage {
    width: 35%;
    height: 35%;
}
.hostSpeaker .alexKumar {
    text-align: start;
}
.alexKumar h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}
.alexKumar p {
    line-height: 24px;
    margin-bottom: 10px;
}
.alexKumar ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


/* Footer Section Style Code */
.footer {
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
}
.footer-image ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    margin-top: 15px;
}
.footer-image ul p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    
}
.footer-image .copyRight {
    margin-top: 30px;
    
}
.footerLogo {
    font-size: 35px;
    margin-bottom: 8px;
}
.logoText {
    background: linear-gradient(to bottom,rgba(137, 3, 246, 0.923),rgba(243, 199, 40, 0.997));
    color: transparent;
    background-clip: text;
}

/* Animation Style Code */
.animate {
    animation-name: myPluse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes myPluse {
    from {background: linear-gradient(to left,rgba(85, 222, 42, 0.5), rgba(246, 92, 3, 0.5), rgba(137, 3, 246, 0.923),rgba(243, 199, 40, 0.997), rgba(59, 39, 212, 0.718), rgba(11, 233, 155, 0.9));}
    to {background: linear-gradient(to right, rgba(33, 92, 183, 0.5), rgba(44, 130, 216, 0.668), rgba(137, 3, 246, 0.923),rgba(243, 199, 40, 0.997), rgb(223, 158, 158), rgba(18, 206, 18, 0.908));}
}

/* Responsive style code for small and medium devices */
@media screen and (max-width: 576px) {
    .headerContent {
        justify-content: space-between;
        padding: 15px 30px;
    }
    .desktopMenu {
        display: none;
    }
    .mobileMenu {
        display: flex;
    }
    /* Banner Responsive style code */
    .banner h1 {
        font-size: 40px;
        font-weight: 800;
    }
    .banner-image {
        width: 380px;
        height: 388px;
        margin: auto;
    }
    .banner-circle {
        width: 190px;
        height: 190px;
        margin-top: -15px;
        margin-left: 23px; 
    }
    
     .banner-microphone {
        width: 60px;
        margin-top: 85px;
        margin-left: -30px;
    }
    .banner-newButton {
        margin-top: 55px;
        margin-left: 45px;
        padding: 6px;
    }
    .banner-text {
        margin-top: 290px;
        
    }  
    .banner-text p {
        font-size: 25px;
    }

    /* About Section Responsive Style Code */
    .aboutHr {
        width: 90%;
    }
    .about .aboutCard{
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px;
    }

    /* ChooseWave Section Responsive Style Code */
    .chooseTechWaveContent h1 {
        font-size: 30px;
    }
    .chooseCardContent {
        grid-template-areas:
            'Headphone'
            'Mobile'
            'Location'
            'Interview'
            'ResourceBook'
        ;
    }
    
    .headPhone {
        grid-area: Headphone;
    }
    .headPhoneContent {
        margin-top: 2%;
    }
    .mobileDevice {
        grid-area: Mobile;
    }
    .location {
        grid-area: Location;
    }
    .interview {
        grid-area: Interview;
    }
    .resourceBook {
        grid-area: ResourceBook;
    }

    /* Feature and Host Speaker Responsive Style Code */
    .hostSpeaker { 
        flex-direction: column;
    }
    .episode h1, .speaker h1 {
        font-size: 35px;
    }
    .featureCard {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
    
        
    .hostImage {
        width: 35%;
        height: 35%;
    }
    .hostSpeaker .alexKumar {
        text-align: center;
    }
    .alexKumar h2 {
        font-size: 30px;
    }
    .alexKumar p {
        line-height: 24px;
        margin-bottom: 10px;
    }
    .alexKumar ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }


    /* Footer Responsive Style Code small device */
    .footerLogo {
        margin-top: 5px;
    }
    .footer-image {
        margin: 5px;
    }
    .footer-image ul {
        grid-template-columns: auto auto;
        gap: 2px;
    }
    .footer-image .copyRight {
        margin-bottom: 5px;
    }
}


/* Responsive Stylde for Medium to Large Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .headerContent {
        justify-content: space-between;
        padding: 15px 30px;
    }
    .desktopMenu {
        display: none;
    }
    .mobileMenu {
        display: flex;
    }
    /* Banner Section Responsive Style Code */
    .banner h1 {
        font-size: 40px;
        font-weight: 800;
    }
    .banner-image {
        width: 500px;
        height: 508px;
        margin: auto;
    }
    .banner-circle {
        width: 280px;
        height: 280px;
        margin-top: -30px;
        margin-left: 20px; 
    }
    
     .banner-microphone {
        width: 80px;
        margin-top: 120px;
        margin-left: -40px;
    }
    .banner-newButton {
        margin-top: 55px;
        margin-left: 45px;
        padding: 6px;
    }
    .banner-text {
        margin-top: 350px;
        
    }  
    .banner-text p {
        font-size: 25px;
    }

    /* About Section Responsive Style Code */
    .aboutHr {
        width: 90%;
    }
    .about .aboutCard {
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px;
    }

    /* ChooseWave Section Responsive Style Code */
    .chooseTechWaveContent h1 {
        font-size: 40px;
    }
    .chooseCardContent {
        grid-template-areas:
            'Headphone'
            'Mobile'
            'Location'
            'Interview'
            'ResourceBook'
        ;
    }
    
    .headPhone {
        grid-area: Headphone;
    }
    .headPhoneContent {
        margin-top: 2%;
    }
    .mobileDevice {
        grid-area: Mobile;
    }
    .location {
        grid-area: Location;
    }
    .interview {
        grid-area: Interview;
    }
    .resourceBook {
        grid-area: ResourceBook;
    }


    
    /* Feature and Host Speaker Responsive Style Code */
    .hostSpeaker {
        flex-direction: column;
    }
    .episode h1, .speaker h1 {
        font-size: 35px;
    }
    .featureCard {
        
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        
    }
    .episodeCard {
        width: 360px;
        
        background-color: #250D44;
        border-radius: 20px;
    }
    
    .hostImage {
        width: 35%;
        height: 35%;
    }
    .hostSpeaker .alexKumar {
        text-align: center;
    }
    .alexKumar h2 {
        font-size: 30px;
        
    }
    .alexKumar p {
        line-height: 24px;
        margin-bottom: 10px;
    }
    .alexKumar ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    /* Footer Responsive Style Code for medium to large */
    .footerLogo {
        margin-top: 15px;
    }
    .footer-image {
        margin: 15px;
    }
    .footer-image ul {
        grid-template-columns: auto auto;
        gap: 2px;
    }
    .footer-image .copyRight {
        margin-bottom: 15px;
    }
}
